body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 400px;
	padding: 5px;
	margin: 10px;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
