<beans:beans xmlns="http://www.springframework.org/schema/security"
 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


 <!-- enable use-expressions -->
 <http use-expressions="true">
  <intercept-url pattern="/computer" access="hasRole('ROLE_ANONYMOUS')"
   method="GET" />

  <intercept-url pattern="/computer"
   access="hasAnyRole('ROLE_ADMIN,ROLE_USER')" method="GET" />
  <intercept-url pattern="/computer" access="hasRole('ROLE_ADMIN')"
   method="POST" />

  <intercept-url pattern="/computer/add" access="hasRole('ROLE_ADMIN')"
   method="GET" />
  <intercept-url pattern="/computer/add" access="hasRole('ROLE_ADMIN')"
   method="POST" />

  <intercept-url pattern="/computer/edit" access="hasRole('ROLE_ADMIN')"
   method="GET" />
  <intercept-url pattern="/computer/edit" access="hasRole('ROLE_ADMIN')"
   method="POST" />


  <form-login login-page="/login" default-target-url="/computer"
   login-processing-url="/j_spring_security_check"
   authentication-failure-url="/login?error" username-parameter="username"
   password-parameter="password" />

  <!-- enable csrf protection -->
  <csrf />

 </http>

 <authentication-manager>
  <authentication-provider user-service-ref="userDetailsService">
   <password-encoder hash="bcrypt" />
  </authentication-provider>
 </authentication-manager>

</beans:beans>
